{% extends "base.html" %}
{% load static %}

{% block css %}

<link href={% static 'accounts/css/dashboard.css' %} rel='stylesheet'>

{% endblock css %}

{% block content %}

<main class="dashboard">

  <div class="row">
    <div class="col-md-4 offset-md-4 ">
      {% include "messages.html" %}
    </div>
  </div>
  <h1 class="text-center">
    Dashboard
  </h1>
  {% comment %}
  <div class="banner">
    <img src="{% static './assets/images/bg-banner.png' %}" alt="profile-image" class="img-fluid w-100">
    <h1 class="text-center">
      Dashboard
    </h1>
  </div> {% endcomment %}

  <section class="container mt-5">
    <h2 class="text-center">Welcome to Dashboard</h2>
    <p class="text-center ">
      hi <span class='text-primary'>{{ user.username | upper }} </span> ! Hope you are having a good day
    </p>
    <br>

    {% if bookings %}

    <div class="table-responsive- mt-3">

      <table class="table table-striped">
        <caption style="caption-side:top">
          <h3>My Bookings </h3>
        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Parking </th>
            <th scope="col">Slot</th>
            <th scope="col" class='city'>City</th>
            <th scope="col">Car Number</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{booking.slot.parking}}</td>
            <td>{{booking.slot.position}}</td>
            <td class='city'>{{booking.slot.parking.city}}</td>
            <td>{{ booking.car_number }}</td>
            <td>{{ booking.status }}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% else %}

    <h4 class="text-center ">No Booking Found</h4>

    <br><br><br>
    <p class="text-center "> click here for bookings
      <a href="{% url 'slots' %}" class="btn btn-secondary text-center "> Check Slots</a>
    </p>

    {% endif %}

    <br>
  </section>



</main>


{% endblock %}

{% block js %}

<script src="{% static 'accounts/js/dashboard.js' %}"></script>


{% endblock js %}