<footer>

  <div class=" bg-secondary mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-lg-left text-center">
          <h5>
            2020 Parking | Slot
          </h5>
        </div>
        <div class="col-md-4 text-lg-center text-center">
          <h5>
            All Rights Reserved
          </h5>
        </div>
        <div class="col-md-4 text-lg-right text-center">
          <div>

            <a href='{{contactinfo.fb_link }}' class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </a>
            <a href='{{contactinfo.insta_link }}' class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </a>
            <a href='{{contactinfo.twitter_link }}' class="btn btn-accent"> <i class="fab fa-twitter fa-lg	"></i> </a>
            <a href='{{contactinfo.youtube_link }}' class="btn btn-accent"> <i class="fab fa-youtube fa-lg	"></i> </a>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>